@model ECommerceWebsite.Models.Users

<div class="alert">@Resources.Resource.WelcomeToWebSite</div>
<div>
    @Resources.Resource.ToResetPassword
    <a href="@System.Configuration.ConfigurationManager.AppSettings["DomainAddress"]/account/ChangePassword/@Model.ActivationCode">@Resources.Resource.Here</a>
</div>