@if (User.Identity.IsAuthenticated)
{
    <ul class="list-menu">
        <li><a href="/Logout" title=@Resources.Resource.Logout>@Resources.Resource.Logout</a></li>
        <li><a href="/Account/Settings" title=@Resources.Resource.Settings>@Resources.Resource.Settings</a></li>
    </ul>
}
else
{
    <ul class="list-menu">
        <li><a href="/Login" title=@Resources.Resource.Login>@Resources.Resource.Login</a></li>
        <li><a href="/Register" title=@Resources.Resource.Register>@Resources.Resource.Register</a></li>
    </ul>
}

