@model ECommerceWebsite.Models.Users

<div class="alert">Hello,Welcome to our website and thank you for your registeration.</div>
<div>
    To reset your password click
    <a href="@System.Configuration.ConfigurationManager.AppSettings["DomainAddress"]/account/ChangePassword/@Model.ActivationCode">here</a>
</div>