<nav class="mega-menu">
    <!-- Brand and toggle get grouped for better mobile display -->
    <ul class="nav navbar-nav" id="navbar">
        <li class="level1 active dropdown">
            <a href="#" title="Home">Home</a>
            <ul class="menu-level-1 dropdown-menu">
                <li class="level2"><a href="home_v1.html" title="Home 1">Home 1</a></li>
                <li class="level2"><a href="home_v2.html" title="Home 2">Home 2</a></li>
                <li class="level2"><a href="home_v3.html" title="Home 3">Home 3</a></li>
            </ul>
        </li>
        <li class="level1 dropdown">
            <a href="#" title="men">Shop</a>
            <div class="sub-menu sub-menu-v2 dropdown-menu">
                <ul class="menu-level-1">
                    <li class="level2">
                        <a href="#">Living Room</a>
                        <ul class="menu-level-2">
                            <li class="level3"><a href="#" title="Seatings">Seatings</a></li>
                            <li class="level3"><a href="#" title="Tables">Tables</a></li>
                            <li class="level3"><a href="#" title="Accessories">Accessories</a></li>
                            <li class="level3"><a href="#" title="Series">Series</a></li>
                        </ul>
                    </li>
                    <li class="level2">
                        <a href="#">BATH Room</a>
                        <ul class="menu-level-2">
                            <li class="level3"><a href="#" title="Lighting">Lighting</a></li>
                            <li class="level3"><a href="#" title="Storage">Storage</a></li>
                            <li class="level3"><a href="#" title="Accessories">Accessories</a></li>
                            <li class="level3"><a href="#" title="Beds">Beds</a></li>
                        </ul>
                    </li>
                    <li class="level2">
                        <a href="#">KITCHEN Room</a>
                        <ul class="menu-level-2">
                            <li class="level3"><a href="#" title="Cleaning Tools">Cleaning Tools</a></li>
                            <li class="level3"><a href="#" title="Waste Bins">Waste Bins</a></li>
                            <li class="level3"><a href="#" title="Pots & Pans">Pots & Pans</a></li>
                            <li class="level3"><a href="#" title="Beds">Beds</a></li>
                        </ul>
                    </li>
                    <li class="level2">
                        <a href="#">Living Room</a>
                        <ul class="menu-level-2">
                            <li class="level3"><a href="#" title="Seatings">Seatings</a></li>
                            <li class="level3"><a href="#" title="Tables">Tables</a></li>
                            <li class="level3"><a href="#" title="Accessories">Accessories</a></li>
                            <li class="level3"><a href="#" title="Series">Series</a></li>
                        </ul>
                    </li>
                    <li class="level2">
                        <a href="#">BATH Room</a>
                        <ul class="menu-level-2">
                            <li class="level3"><a href="#" title="Lighting">Lighting</a></li>
                            <li class="level3"><a href="#" title="Storage">Storage</a></li>
                            <li class="level3"><a href="#" title="Accessories">Accessories</a></li>
                            <li class="level3"><a href="#" title="Beds">Beds</a></li>
                        </ul>
                    </li>
                    <li class="level2">
                        <a href="#">KITCHEN Room</a>
                        <ul class="menu-level-2">
                            <li class="level3"><a href="#" title="Cleaning Tools">Cleaning Tools</a></li>
                            <li class="level3"><a href="#" title="Waste Bins">Waste Bins</a></li>
                            <li class="level3"><a href="#" title="Pots & Pans">Pots & Pans</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="right-submenu">
                    <a href="#" title="images"><img class="img-responsive" src="/Content/assets/images/right-submenu.jpg" alt="Sub-Menu" /></a>
                </div>
                <!-- End RightSubMenu -->
            </div>
            <!-- End Dropdow Menu -->
        </li>
        <li class="level1 dropdown">
            <a href="#" title="collections">collections</a>
            <ul class="menu-level-1 dropdown-menu">
                <li class="level2">
                    <a href="lookbook_v2.html" title="Lookbook Style 1" target="_blank">Lookbook Style 1</a>
                    <ul class="menu-level-2">
                        <li class="level3"><a href="lookbook_v2.html" title="Lookbook Style 1" target="_blank">Lookbook Style 1</a></li>
                        <li class="level3"><a href="lookbook_v3.html" title="Lookbook Style 2" target="_blank">Lookbook Style 2</a></li>
                        <li class="level3"><a href="lookbook_v4.html" title="Lookbook Style 3" target="_blank">Lookbook Style 3</a></li>
                        <li class="level3"><a href="lookbook_v5.html" title="Lookbook Style 4" target="_blank">Lookbook Style 4</a></li>
                    </ul>
                </li>
                <li class="level2"><a href="lookbook_v3.html" title="Lookbook Style 2" target="_blank">Lookbook Style 2</a></li>
                <li class="level2"><a href="lookbook_v4.html" title="Lookbook Style 3" target="_blank">Lookbook Style 3</a></li>
                <li class="level2"><a href="lookbook_v5.html" title="Lookbook Style 4" target="_blank">Lookbook Style 4</a></li>

            </ul>
        </li>
        <li class="level1 dropdown">
            <a href="#" title="Page">Page</a>
            <div class="sub-menu dropdown-menu">
                <div class="top-sub-menu">
                    <img src="/Content/assets/images/top-submenu.jpg" alt="images">
                </div>
                <ul class="menu-level-1">
                    <li class="level2">
                        <a href="#">Living Room</a>
                        <ul class="menu-level-2">
                            <li class="level3"><a href="#" title="Seatings">Seatings</a></li>
                            <li class="level3"><a href="#" title="Tables">Tables</a></li>
                            <li class="level3"><a href="#" title="Accessories">Accessories</a></li>
                            <li class="level3"><a href="#" title="Series">Series</a></li>
                        </ul>
                    </li>
                    <li class="level2">
                        <a href="#">BATH Room</a>
                        <ul class="menu-level-2">
                            <li class="level3"><a href="#" title="Lighting">Lighting</a></li>
                            <li class="level3"><a href="#" title="Storage">Storage</a></li>
                            <li class="level3"><a href="#" title="Accessories">Accessories</a></li>
                            <li class="level3"><a href="#" title="Beds">Beds</a></li>
                        </ul>
                    </li>
                    <li class="level2">
                        <a href="#">KITCHEN Room</a>
                        <ul class="menu-level-2">
                            <li class="level3"><a href="#" title="Cleaning Tools">Cleaning Tools</a></li>
                            <li class="level3"><a href="#" title="Waste Bins">Waste Bins</a></li>
                            <li class="level3"><a href="#" title="Pots & Pans">Pots & Pans</a></li>
                        </ul>
                    </li>
                    <li class="level2">
                        <a href="#">LOOKBOOK</a>
                        <ul class="menu-level-2">
                            <li class="level3"><a href="#" title="Decorative Pillows">Decorative Pillows</a></li>
                            <li class="level3"><a href="#" title="Picture Frames">Picture Frames</a></li>
                            <li class="level3"><a href="#" title="Clocks">Clocks</a></li>
                            <li class="level3"><a href="#" title="Baskets & Bins">Baskets & Bins</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- End Dropdow Menu -->
        </li>
        <li class="level1 dropdown">
            <a href="single-post.html" title="ShortCode" target="_blank">ShortCode</a>
            <ul class="menu-level-1 dropdown-menu">
                <li class="level2"><a href="accordion.html" title="accordion" target="_blank">accordion</a></li>
                <li class="level2"><a href="box_content.html" title="box_content" target="_blank">box content</a></li>
                <li class="level2"><a href="button.html" title="button" target="_blank">button</a></li>
                <li class="level2"><a href="countdown.html" title="countdown" target="_blank">countdown</a></li>
                <li class="level2"><a href="gmap.html" title="gmap" target="_blank">gmap</a></li>
                <li class="level2"><a href="iconbox.html" title="iconbox" target="_blank">iconbox</a></li>
                <li class="level2"><a href="social.html" title="social" target="_blank">social</a></li>
                <li class="level2"><a href="tabs.html" title="tabs" target="_blank">tabs</a></li>
                <li class="level2"><a href="post_shortcode.html" title="post shortcode" target="_blank">post shortcode</a></li>
            </ul>
        </li>
    </ul>
</nav>