@model IEnumerable<ECommerceWebsite.Models.Product_Categories>

@*<select class="form-control" id="CategoryId" multiple="multiple" name="CategoryId" onchange="FillGenders()" style="display: none" title="Choose one or more">
    <optgroup label="Brand">
        @foreach (var item in Model.Where(p => p.ParentId == null))
        {
            <option value="@item.CategoryId">@item.CategoryTitle</option>
        }
    </optgroup>
    <optgroup id="addedLabel" label="Gender">
            <option value="92">Men</option>
    </optgroup>
</select>*@

<input type="text" />