@model IEnumerable<ECommerceWebsite.Models.Product_Categories>

<aside class="widget widget_product_categories">
    <h3 class="widget-title">@Resources.Resource.Categories</h3>
    <ul class="product-categories">
        <li class="hassub">
            <a href="#" title="Men">@Resources.Resource.Men</a><i class="fa fa-caret-right"></i>
            <ul class="children">
                <li><a href="#" title="Bag &amp; Luggage">Bag &amp; Luggage</a><i class="fa fa-caret-right"></i></li>
                <li><a href="#" title="Eyewear">Eyewear</a><i class="fa fa-caret-right"></i></li>
                <li><a href="#" title="Jewelry">Jewelry</a><i class="fa fa-caret-right"></i></li>
                <li><a href="#" title="Shoes">Shoes</a><i class="fa fa-caret-right"></i></li>
                <li><a href="#" title="Skyrts">Skyrts</a><i class="fa fa-caret-right"></i></li>
            </ul>
        </li>
        <li class="hassub">
            <a href="#" title="woment">@Resources.Resource.Women</a><i class="fa fa-caret-right"></i>
            <ul>
                <li><a href="#" title="Bag">Bag</a><i class="fa fa-caret-right"></i></li>
                <li><a href="#" title="Bed &amp; Bath">Bed &amp; Bath</a><i class="fa fa-caret-right"></i></li>
                <li><a href="#" title="Sport tops &amp; Vest">Sport tops &amp; Vest</a><i class="fa fa-caret-right"></i></li>
                <li><a href="#" title="Sport undewear">Sport undewear</a><i class="fa fa-caret-right"></i></li>
            </ul>
        </li>
        <li><a href="#" title="kids">@Resources.Resource.Kids</a></li>
        <li><a href="#" title="All Product">All Product</a></li>
    </ul>
</aside>